*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.carousel-caption {
    bottom: 10rem;
}
.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    border-radius: 5px;
}


/*===========================
        Media Queries
=============================*/
/*===========================
        Laptop-Device
=============================*/

@media screen and (min-width: 789px) {
    .join-text {
        text-align: center;
    }
  }

/*===========================
        Tablet-Device
=============================*/

@media screen and (max-width: 786px) and (min-width: 427px){
    ul.navbar-nav.ms-auto.my-2.my-lg-0.navbar-nav-scroll {
        display: -webkit-box;
    }
    .carousel-caption {
        bottom: 3rem;
    }
    .carousel-item img {
        height: 500px;
    }
    .join-text{
        text-align: center;
    }
  }

/*===========================
        Mobile-Device
=============================*/

@media (max-width: 426px) {
    ul.navbar-nav.ms-auto.my-2.my-lg-0.navbar-nav-scroll {
        display: -webkit-box;
    }
    li.nav-item a {
        padding: 0px 6px!important;
    }
    .carousel-caption {
        bottom: 1rem;
    }
    .carousel-item img {
        height: 272px;
    }
    .carousel-caption h5 {
        font-size: 20px!important;
    }
    .carousel-caption p{
        font-size: 14px;
    }
    div#mobile {
        display: block!important;
    }
    .mw-100{
        width: 100%!important;
    }
    .card-body.d-flex.align-items-center {
        padding: 34px 10px;
    }
    .join-text {
        text-align: center;
    }
  }
  













